body,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merienda One", cursive;
    background-image: url(img/background.webp);
}
        /* -------------------------- INDEX PAGE -----------------------*/
.container{
    margin: 0;
    padding: 0;
    position: relative;
}
header, footer{
    font-family: "Merienda One", cursive;
    background-color: rgba(107, 112, 92, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul a {
    padding-right: 20px;
}
.logo{
    width:  200px;
    height: 60px;
    cursor: pointer;
}
#main, .main{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a:hover{
    color: black;
    filter: brightness(1.1);
}
li a, ul, footer ul{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    width: 100%;
}
p{
    font-family: "Merienda One", cursive;
    font-weight: 500;
    font-size: 15px;
}
.lien-intro{
    text-decoration: none;
    color: white;
}
.liste{
    background-color: rgba(242, 235, 221, 0.6);
    border: solid 2px black;
    border-radius: 15px;
    text-align: center;
}
.content{
    display: flex;
    justify-content: center;
}
/* -------------------------- PRODUCT PAGE -----------------------*/
.page-produit{
    background: rgba(242, 235, 221, 0.5);
    text-align: center;
    position: relative;
    width: 850px;
    display: flex;
    flex-direction: column;
    left: 25%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.varnish,
.varnish1, .varnish2,
.varnish3, .varnish4{
    font-family: "Merienda One", cursive;
    font-size: 13px;
}
.image, .image1,
.image2, .image3,
.image4{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.see-btn, .cart-btn, .remove{
    font-family: "Merienda One", cursive;
    font-size: 14px;
    text-align: center;
    background-color: rgba(107, 112, 92, 0.8);
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    margin-bottom: 15px;
    padding: 4px 8px 4px 8px;
    display: inline-block;
    outline: none;
}
.see-btn:hover, .cart-btn:hover{
    color: black;
    box-shadow: gray 3px 4px 2px;
}
.texte{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#produits{
    padding: 30px 0 30px 0;
    height: 500px;
    width: 600px;
    margin: auto;
}
table, tbody{
    border-collapse: collapse;
    width: 850px;
}
td{
    border: 1px solid black;
}
option, select{
    color: black;
    text-align: center;
    font-family: "Merienda One", cursive;
}
.remove{
    background-color: rgb(192, 50, 15);
    outline: none;
}
.remove:hover{
    background-color: white;
    color: red;
}
/* -------------------------- CART PAGE -----------------------*/
#cart-article{
    background: rgba(242, 235, 221, 0.5);
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 70%;
}
.product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: solid 2px black;
}
.products i {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.products div{
    margin-left: 10px;
    margin-right: 10px;
}
.product-header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 4px black;
    margin: 10px;
}
.cart-total{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.total-item{
    width: 60%;
}
.name-product{
    width: 20%;
}
.image-url{
    text-align: center;
    width: 20%;
}
/* -------------------------- FORM -----------------------*/
.wrapperForm {
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.wrapperForm h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 40px 15px 30px 0;
    line-height: 1.4;
    text-align: center;
}
  
.formulaire {
    padding: 0 15px;
    max-width: 700px;
    margin: auto;
    border: solid 1px black;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
}
.formulaire .formInput {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px 5px;
    background-color: rgba(107, 112, 92, 0.8);;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #f2f2f2;
    border: none;
    color: white;
    text-align: center;
}
.formulaire .formLabel {
    position: relative;
    padding-left: 10px;
    width: 100%;
}
.formulaire .formLabel::after {
    content: "*";
    position: absolute;
    top: 0;
    left: 0px;
    color: red;
}
  .formulaire div {
    margin: 20px 0;
}
::placeholder{
    font-family: "Merienda One", cursive;
    color: rgba(255, 255, 255, 0.5);
}
.btn-validation{
    background-color: rgb(107, 112, 92);
    color: #f3e9f1;
    border-radius: 30px;
    height: 50px;
    font-size: 1.1em;
    margin: 20px;
    padding: 5px 15px;
    font-family: "Merienda One", cursive;
    outline: none;
}
/* -------------------------- CONFIRMATION PAGE -----------------------*/
#confirmation{
    background: rgba(242, 235, 221, 0.5);
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
   /* -------------------------- MEDIA -----------------------*/
/* PHONES */
@media only screen and (min-width: 320px) and (max-width: 640px){
    /* INDEX PAGE*/
    header, footer{
        display: flex;
        justify-content: space-around;
        padding: 0 10px;
    }
    .nav-links, a .cart{
        display: flex;
        flex-direction: row;
        font-size: 13px;
    }
    .logo{
        width: 100px;
        height: 50px;
    }
    li a, ul, footer ul{
        font-size: 13px;
        padding: 10px;
    }
    .text{
        margin-bottom: 30px;
    }
    .varnish,
    .varnish1, .varnish2,
    .varnish3, .varnish4,
    .info, .info1, .info2,
    .nfo3, .info4{
        font-size: 12px;
    }
    .varnish,
    .varnish1, .varnish2,
    .varnish3, .varnish4{
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    /* PAGE ARTICLES*/
    .liste{
        max-width: 605px;
        min-width: 320px;
        width: 360px;
    }
    .image, .image1,
    .image2, .image3,
    .image4{
        margin-top: 5px;
        width: 100px;
        height: 80px;
    }
    p{
        font-size: 13px;
    }
    table, tbody{
        width: 360px;
        font-size: 12px;
        margin: 0;
    }
    tbody{
        display: flex;
        flex-direction: column;
    }
    .tr-one td{
        width: 365px;
    }
    select, option{
        width: 100px;
    }
    .see-btn, .cart-btn{
        font-size: 11px;
    }
    tr {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }
    td {
        border: none;
    }
    div .btn {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
    }
    /* PAGE PRODUIT */
    .page-produit, #cart-article{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        left: 0%;
        width: 100%;
    }
    #produits{
        padding-top: 20px;
        width: 300px;
        height: 180px;
    }
    .product{
        font-size: 12px;
    }
    .remove{
        font-size: 11px;
        border: solid 2px white;
        border-radius: 20px;
        color: white;
        margin-bottom: 15px;
        padding: 2px 4px 2px 4px;
    }
    .container{
        position: inherit;
    }
    td .varnish2{
        display: flex;
        flex-wrap: wrap;
        width: 10px;
    }
}
/* TABLETTES */
@media only screen and (min-width: 641px) and (max-width: 1000px){
    header, footer{
        display: flex;
        justify-content: space-around;
    }
    table{
        height: auto;
        font-size: 12px;
    }
    #main{
        height: 700px;
    }
    .content{
        flex-wrap: wrap;
        display: flex;
    }
    .card{
        width: 750px;
        margin: 10px;
    }
    .liste, table{
        width: 750px;
    }
    td {
        width: 130px;
    }
    .image, .image1,
    .image2, .image3,
    .image4{
        width: 240px;
        height: auto;
    }
    .page-produit, #cart-article{
        position: initial;
        width: auto;
        margin-top: 10px;
        width: 100%;
    }
}