body,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Merienda One", cursive;
    background-image: url(../orinoco-frontend/img/background.webp);
    background-size: cover;
}
.container{
    margin: 0;
    padding: 0;
    position: relative;
}
header, footer{
    font-family: "Merienda One", cursive;
    background-color: rgba(107, 112, 92, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul a {
    padding-right: 20px;
}
.logo{
    width:  200px;
    height: 60px;
    cursor: pointer;
}
#main, .main{
    text-align: center;
    background: rgba(242, 235, 221, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a:hover{
    color: black;
    filter: brightness(1.1);
}
li a, ul, footer ul{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    width: 100%;
}
p{
    font-family: "Merienda One", cursive;
    font-weight: 500;
    font-size: 15px;
}
.lien-intro{
    text-decoration: none;
    color: white;
}
.liste{
    background-color: rgba(242, 235, 221, 0.6);
    align-content: center;
    border: solid 2px black;
    border-radius: 15px;
    text-align: center;
}
.content{
    display: flex;
    justify-content: center;
}
#cart-article, .page-produit{
    background: rgba(242, 235, 221, 0.6);
    text-align: center;
    width: 850px;
    height: 780px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.varnish,
.varnish1, .varnish2,
.varnish3, .varnish4{
    font-family: "Merienda One", cursive;
    font-size: 13px;
}
.image, .image1,
.image2, .image3,
.image4{
    width: 250px;
    height: 180px;
    object-fit: cover;
}
.see-btn{
    font-family: "Merienda One", cursive;
    font-size: 14px;
    text-align: center;
    background-color: rgba(107, 112, 92, 0.8);
    border: solid 2px white;
    border-radius: 20px;
    color: white;
    margin-bottom: 15px;
    padding: 4px 8px 4px 8px;
    display: inline-block;
}
.see-btn:hover{
    color: black;
    box-shadow: gray 3px 4px 2px;
}
.texte{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#produits{
    height: 450px;
}
table{
    border-collapse: collapse;
}
  
td{
    border: 1px solid black;
}
option{
    color: black;
    text-align: center;
}
table tbody{
    width: 850px;
    display: inherit;
}
/* MEDIA QUERIES*/
/* PHONES */
@media only screen and (min-width: 320px) and (max-width: 640px){
    /* INDEX PAGE*/
    html, body{
        width: 100%;
    }
    header, footer{
        display: flex;
        justify-content: space-around;
        padding: 0 10px;
    }
    .nav-links, a .cart{
        display: flex;
        flex-direction: row;
        font-size: 13px;
    }
    .logo{
        width: 100px;
        height: 50px;
    }
    li a, ul, footer ul{
        font-size: 13px;
        padding: 10px;
    }
    .text{
        margin-bottom: 30px;
    }
    .varnish,
    .varnish1, .varnish2,
    .varnish3, .varnish4,
    .info, .info1, .info2,
    .nfo3, .info4{
        font-size: 12px;
    }
    .varnish,
    .varnish1, .varnish2,
    .varnish3, .varnish4{
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    /* PAGE ARTICLES*/
    .liste{
        max-width: 605px;
        min-width: 330px;
    }
    .image, .image1,
    .image2, .image3,
    .image4{
        width: 90px;
        height: auto;
    }
    p{
        font-size: 13px;
    }
    table, tbody, tr{
        font-size: 12px;
        display: inline;
    }
    td {
        width: 190px;
    }
    select, option{
        width: 100px;
    }
    .see-btn{
        width: 60px;
        height: 50px;
        font-size: 11px;
    }
    /* PAGE PRODUIT */
    .page-produit, #cart-article{
        width: 355px;
        height: auto;
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    #produits{
        padding-top: 20px;
        width: 300px;
        height: 180px;
    }
}
/* TABLETTES */
@media only screen and (min-width: 641px) and (max-width: 1000px){
    header, footer{
        display: flex;
        justify-content: space-around;
    }
    table{
        height: auto;
        display: block;
        font-size: 12px;
    }
    #main{
        height: 700px;
    }
    .content{
        flex-wrap: wrap;
        display: flex;
    }
    .card{
        width: 750px;
        margin: 10px;
    }
    .liste, table{
        width: 750px;
    }
    td {
        width: 130px;
    }
    .image, .image1,
    .image2, .image3,
    .image4{
        width: 240px;
        height: auto;
    }
    .page-produit, #cart-article{
        position: initial;
        height: 895px;
        margin: auto;
        width: auto;
    }
}